<html
    head
        title= title

        style.
            div {
                margin: 0 auto;
                width: 50%;
                text-align: center;
            }
            h1 { text-align: center;margin-top: 45%; }
            p { text-align: center; }
    body
      div
        h1= message
        p Welcome to #{title}